<mat-toolbar>
    <a mat-button routerLink ='/viewpage' routerLinkActive = "active" class="home">Home</a>
    <a mat-button routerLink ='/about' routerLinkActive = "active" class="about">About</a>
  </mat-toolbar>
  
<div class="container">
    <br>
    <br>
     <h1 class="title">Lab 5 Schedule Drafting Application</h1>
     
     <p> This site allows users to create their own personal schedules based on the courses listed.
         Users will be able to signup for the service using their emails, and non-registered users are able to use 
         the service with limited access such as only being able to browse courses.</p>
     <br>
     <br>
     <br>
     <br>
     <h1>Created by Bikramjit Singh</h1>
 </div>
 <router-outlet></router-outlet>