mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    
}

.text1{
    margin-left: 3px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
}
.text2{
    margin-left: 6px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: light;
}
/* image styling */
img{
    margin-top:auto;
    margin-bottom:auto;
    size: 400px;
    height: 95px;
    vertical-align:middle;
    
}
/* menu bar styling of the page */




