
<mat-toolbar>
    <a mat-button routerLink ='/viewpage' routerLinkActive = "active" class="home">Home</a>
    <a mat-button routerLink ='/about' routerLinkActive = "active" class="about">About</a>
    <a mat-button routerLink ='/policy' routerLinkActive = "active" class="policy">Policy</a>
  </mat-toolbar>
  
<div class="container">
<br>
<h1>Draft a Schedule Privacy Policy</h1>
<h2>What information is collected?</h2>
<p>The information that is collected at the time of registration include of a username, an email, and a password. 
With the use of external authentication using Google, Apple, or Facebook , 
the respective user information is collected.</p>
<br>
<h2>Justification for information collection:</h2>
<p>Information is collected in order to create new user accounts and authenticate of Draft a Schedule. 
    The collection of the following information , allows user's to ensure that they have secure account 
    that can be retrieved if password is forgotten and access the full functionality of the web application. </p>

<br>
<h2>How the information is used?</h2>
<p>The sole purpose for the collection of this information is to register and authenticate during when the 
    user registers for the service and log's into the service.By have an authenticated account the user is ensured
privacy, reliability, and accessability. The collected information is stores in a secure database with encrypted data
to ensure the user's information is always safe. The database matches the store information with 
the information that the user inputs during login to verify if the user has access and is 
registered to use this service. </p>
<br>
<h2>Who has access to your information?</h2>
<p>The individuals with authority to view your information include of the websites manager , and the 3rd party 
    authentication service.</p>
<br>
<h2>What happens in the event of a takeover or dissolution?</h2>
<p>If and when a takeover event happens , all the registered users will recieve a notice regarding the 
following change along with the updated copy of the privacy policy. The updates to the privacy policy will
also be reflected on this page.
</p>
<br>
</div>
<router-outlet></router-outlet>
