mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    height: 45px;
}


.homepage{
    margin-top:2px;
    margin-bottom:2px;
    background-color:rgb(135, 75, 196);
    margin-left:5px;
    color:white;
}

h1{
    color:rebeccapurple;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
}
p{
    margin-left: 12px;
    display: inline-block;
}

mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    height: 45px;
}

.container{
    /*margin-left:400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #f2f2f2;
    width: 620px;
    height: 740px;
    border-radius: 10px;

}

.create{
    background-color: rebeccapurple;
    margin-top:40px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 300px;
}

.manage{
    background-color: rebeccapurple;
    margin-top:40px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 300px;
}
.view{
    background-color: rebeccapurple;
    margin-top:40px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 300px;
}

.settings{
    background-color: rebeccapurple;
    margin-top:40px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 300px;
}

.policy{
    margin-top:2px;
    margin-bottom:2px;
    background-color:rgb(135, 75, 196);
    margin-left:5px;
    color:white;
}

h2{
    margin-left: 12px;
}
