<div class="container">
    <br>
    <br>
    <h1 class="title">Sign Up</h1>
    <br>
    <br>
    <input  name="login" id="login" autocomplete="off" placeholder="Enter email">
    <br>
    <br>
    <input name="pass" id="password" autocomplete="off" placeholder="Enter password">
    <br>
    <br>
    <input name="pass" id="password" autocomplete="off" placeholder="Enter password again">
    <br>
    <br>
    <br>
    <button mat-button class="newSignup">Sign Up</button>

</div>
<router-outlet></router-outlet>
