.container{
    margin-left:400px;
    margin-top: 180px;
    background-color: lightgray;
    width: 600px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}
.title{
    color:Black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.login{
background-color: rebeccapurple;
margin-top:40px;
margin-right: 25px;
margin-left: 230px;
color:white;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}


.newSignup{
    background-color: rebeccapurple;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}



input{
    width: 185px;
    margin: 0px 0px 5px;
    padding: 4px 6px;
    align-content: center;
}

label{
    width:240px;
    display:inline-block;
    font-weight: bold;
    margin-left: 2px;
}