<mat-toolbar>
    <a mat-button routerLink ='/viewpage' routerLinkActive = "active" class="home">Home</a>
    <a mat-button routerLink ='/reviews' routerLinkActive = "active" class="revieww">Course Reviews</a>
    <a mat-button routerLink ='/browse' routerLinkActive = "active" class="browse">Browse Courses</a>
  </mat-toolbar>
  

<div id="div1" class="div11">
    <div id="div2">
        <br>
        <h1 class="title"> Browse Courses</h1>
        <br>
   <form >
       <label for= "courseID" id="text1">Subject:</label>
       <select name="course" id="courseID1">
           <option value="all_subjects" id="op1">All Subjects</option>
       </select>
       <br>
       <br>
       <label for= "courseNumber">Course Number:</label>
       <input name = "courseNum" id="courseNumber" type="text" placeholder="eg. 1000A" maxlength="5" autocomplete="off">
       <br>
       <br>
       <label for= "courseComp">Course Component:</label>
       <select name="courseComponent" id="courseComp">
           <option value="all_components">All </option>
           <option value="LEC">Lecture </option>
           <option value="TUT">Tutorial</option>
           <option value="LAB">Laboratory </option>
       </select>
       <br>
       <br>
       <input class="keyword" [(ngModel)]="keyword" name="keyword" autocomplete ="off" mat-input placeholder="search by keyword....."><button mat-button (click)="getKeyword()" class="go">Search</button>
       <br>
       <br>
       <button mat-button type="button"  (click)="getSubjects()" id="submit23">Submit</button>
   </form>
  
    </div>
 
   
</div>
<div id="show13"></div>

    <div *ngFor="let course of storage" class ="newdiv12">
        <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-expansion-panel-title>
            <h1>{{ course.subject }} {{ course.catalog_nbr }} </h1>
            </mat-expansion-panel-title>
        <mat-expansion-panel-description>
              <h2>   {{   course.className }} </h2>
        </mat-expansion-panel-description>
        
            </mat-expansion-panel-header>
           
            <p>Course Description: {{ course.catalog_description }}</p> 
            <mat-action-row>
                
            
            <br>
            <br>
            
            <table>
                <tr>
                    <th>Section</th>
                    <th>Component</th>
                    <th>Class Number</th>
                    <th>Days</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Campus</th>
                    <th>Instructor</th>
                    <th>Status</th>

                </tr>
                <tr>
                    <td>{{ course.course_info[0].class_section }}</td>
                    <td class="{{ course.course_info[0].ssr_component }}">{{ course.course_info[0].ssr_component }}</td>
                    <td>{{ course.course_info[0].class_nbr }}</td>
                    <td>{{ course.course_info[0].days }}</td>
                    <td>{{ course.course_info[0].start_time }}</td>
                    <td>{{ course.course_info[0].end_time }}</td>
                    <td>{{ course.course_info[0].campus }}</td>
                    <td>{{ course.course_info[0].instructors }}</td>
                    <td>{{ course.course_info[0].enrl_stat }}</td>
                    
                </tr>
                
            </table> 
            
           
            </mat-action-row>
        
            </mat-expansion-panel>    
         
            
        <mat-expansion-panel (click)="loadReviews(course.subject , course.catalog_nbr,course.className)">
            <mat-expansion-panel-header>
            <mat-expansion-panel-title>
            View Reviews 
            </mat-expansion-panel-title>
    
            </mat-expansion-panel-header>
           
            <mat-action-row class="newreview">
            <div *ngFor="let reviews of reviews" >
                <div class="show89">
                <br>
                <h3>Added by: </h3><p> {{reviews.User}} </p>
                <br>
                <h3>Review: </h3><p>{{reviews.review}}</p>
                <br>
                <h3>Time Modified by: </h3><p>{{reviews.time}}</p>
                <br>
                </div>
            <!--
                <table>
                    <tr>
                        <th>User</th>
                        <th>Review</th>
                        <th>Time Modified</th>
    
                    </tr>
                    <tr>
                        <td>{{ reviews.User }}</td>
                        <td >{{ reviews.review}}</td>
                        <td >{{ reviews.time}}</td>
                    </tr>
                    
                </table> -->
            </div>
                    
            
            </mat-action-row>
        
            </mat-expansion-panel>            
        </mat-accordion>
      
      </div>


<router-outlet></router-outlet>
