
.homepage{
    margin-top:2px;
    margin-bottom:2px;
    background-color:rgb(135, 75, 196);
    margin-left:5px;
    color:white;
}

h1{
    color:Black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
}

mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    height: 45px;
}

.container{
    /*margin-left:400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #f2f2f2;
    width: 620px;
    height: 460px;
    border-radius: 10px;
    text-align: center;
}

label{
    width: 240px;
    font-size:18px;
    font-weight: bold;
    display: inline-block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.create{
    background-color: rebeccapurple;
    margin-top:40px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 300px;
    margin-left: 240px;
}

#scheduleName{
    width: 300px;
    height: 20px;
}
#scheduleDescription{
    width: 300px;
    height: 40px;
}
h1{
    color:rebeccapurple;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
}
.error{
    margin-top: 5px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(214, 16, 16);
    border-radius: 5px;
}