
<mat-toolbar>
    <a mat-button routerLink ='/adminhome' routerLinkActive = "active" class="homepage">Home</a>
  </mat-toolbar>
  <br>
  <div class="success">
    <flash-messages ></flash-messages>
    </div>
<div class="container">
    <br>
    <br>
    <h1> Manage Users</h1>
    <br>
    <br>
   
   <select class="users" id="users">
    
   </select>
   <br>
   <br>
   <button mat-button class="deactivate" (click)="deactivate()">Deactivate User</button>
   <br>
   <br>
   <button mat-button class="deactivate" (click)="activate()">Activate User</button>
   <br>
   <br>
   <button mat-button class="deactivate" (click)="activate()">Grant Admin Privilege</button>
</div>
<router-outlet></router-outlet>
