
<mat-toolbar>
    <a mat-button routerLink ='/homepage' routerLinkActive = "active" class="homepage">Home</a>
    <a mat-button (click)="logout()" class="about">Logout</a>
  </mat-toolbar>
  
<div class="container">
    <br>
    <br>
   <h1  >Welcome User</h1>
   <br>
   <br>
   <button mat-button class="create">Create Schedules</button>
   <br>
   <br>
   <button mat-button class="manage">Manage Schedules</button>
   <br>
   <br>
   <button mat-button routerLink ='/settings' routerLinkActive = "active" class="settings">Account Settings</button>
   <br>
   <br>
</div>
<router-outlet></router-outlet>
