.container{
    /*margin-left:400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    background-color: #f2f2f2;
    width: 600px;
    height: 420px;
    border-radius: 10px;
    text-align: center;
}
mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    height: 45px;
}

h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
}
