.container{
    /*margin-left:400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    background-color: #f2f2f2;
    width: 600px;
    height: 420px;
    border-radius: 10px;
    text-align: center;
}
mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    height: 45px;
}

h1{
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:rebeccapurple;
}

label{
    width: 240px;
    font-size:18px;
    font-weight: bold;
    display: inline-block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.update{
    margin-top:2px;
    margin-bottom:2px;
    background-color:rgb(135, 75, 196);
    margin-left:auto;
    margin-right:auto;
    color:white;
}

.homepage{
    margin-top:2px;
    margin-bottom:2px;
    background-color:rgb(135, 75, 196);
    margin-left:5px;
    color:white;
}