
.homepage{
    margin-top:2px;
    margin-bottom:2px;
    background-color:rgb(135, 75, 196);
    margin-left:5px;
    color:white;
}

h1{
    color:Black;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
}

mat-toolbar{
    color: white;
    background-color: rebeccapurple;
    height: 45px;
}

.container{
    /*margin-left:400px;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #f2f2f2;
    width: 620px;
    height: 460px;
    border-radius: 10px;
    text-align: center;
}

label{
    width: 240px;
    font-size:18px;
    font-weight: bold;
    display: inline-block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.create{
    background-color: rebeccapurple;
    margin-top:40px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 300px;
    margin-left: 240px;
}

#scheduleName{
    width: 300px;
    height: 20px;
}
#scheduleDescription{
    width: 300px;
    height: 40px;
}
h1{
    color:rebeccapurple;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
}
.error{
    margin-top: 5px;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(214, 16, 16);
    border-radius: 5px;
}
/* page styling along with input boxes and labels */
#div1{
    margin-top:10px;
    margin-left: 250px;
    width: 900px;
    height: 500px;
    border: 3px  gray;
    padding: 10px;
    background-color: lightgray;

}
h2{
    color: black;
    margin-left: 50px;
    display: inline;;
}
#div123{
    margin-top:20px;
    margin-left: 200px;
}
op1{
    float: right;
}
#div2{
    margin-left: 200px;
   /* margin-top: auto; */

}
.deletebUTTON{
    width: fit-content;
    color: white;
    background-color: rebeccapurple;
    margin-left: 20px;
}

#div4{
    align-content: center;
    margin-left: 350px;

}
#page{
    background-color: whitesmoke;

}

h1{
    font-size:26px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    width: 240px;
    font-size:18px;
    font-weight: bold;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;

}

button{
    background-color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-weight: normal;
    width: 200px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 245px; 
}

input{
    width: 185px;
    margin: 0px 0px 5px;
    padding: 4px 6px;
    align-content: center;
}

select{
    width: 200px;
    margin: 0px 0px 5px;
    padding: 4px 6px
}

.text1{
    color:gray;
}

/* image styling */
img{
    size: 300px;
    height: 75px;
    vertical-align:middle;
}

.newdiv1{
    background-color: lightgray;
    color: black;
    margin-top: 40px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    font-size: 15px;
    height: 300px;

}
.newdiv12{
    
    background-color:lightgray;
    color: black;
    margin-top: 30px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-left:auto;
    margin-right:auto;
    width: 1800px;
    height: fit-content;
    font-weight: normal;
    font-size: 13px;
}
.expand{
    margin-left:1600px;
    width: 80px;
    text-align: center;
    margin-bottom: 15px;
}
.review{
    margin-left: 5px;
    width: 80px;
    text-align: center;
    margin-bottom: 15px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    font-size: 17px;
    font-weight: 600;
}
.newdiv13{
    background-color:blue;
    color: black;
    margin-top: 30px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    width: 800px;
    height: 100px;
    margin-right:400px;
    font-weight: normal;
    font-size: 13px;
}
.newdiv13{
    background-color:lightgray;
    color: black;
    margin-top: 30px;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    margin-left: 350px;
    font-weight: normal;
    font-size: 15px;
}


  .ok{
      color:white;
      background-color: rebeccapurple;
  }
  .lec{
    color:black;
    background-color: lightgreen;
  }
  .lec1{
    color:black;
    background-color:gray;
    font-weight: bold;
  }
  .lab{
      background-color: lightpink;
  }
  .tut{
      background-color: lightblue;
  }
  .ok2{
    color:black;
    background-color:white;
  }
  .addButton{
      width: 100px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
  }
  .removeButton{
    width: 80px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightcyan;
    color:black;
  }

.view{
    margin-left: 10px;

}
.delete{
    margin-left: 10px;
}
.names1{
    margin-left:1px;
}

.label22{
    margin-right: 0px;
}

/* table css */
/*
table, td {
    border: 1px solid black;
    align-content: center;
    
  }
  table {
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 2;
    width: 90%;
    border: 1px solid black;
    font-size: bold;
    margin-left: auto;
    margin-right: auto;
  }
 
 
 /* th, td { */
/*
td,th{
    text-align: center;
    padding: 16px;
    width: 200px;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
  }
  */
  table{
    border-collapse: collapse;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 2;
    width: 90%;
    border: 1px solid black;
    font-size: bold;
    margin-left: auto;
    margin-right: auto;
    }
    
    td, th {
    border: 1px solid black;
    text-align: center;
    padding: 16px;
    width: 200px;
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    }

    .LEC{
        background-color: lightgreen;
    }

    .LAB{
        background-color: lightpink;  
    }

    .TUT{
        background-color: lightblue;
    }
    .newdiv11{
        background-color:lightgray;
        color: black;
        margin-top: 40px;
        align-content: center;
        text-align: center;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 15px;
        width: 900px;
        margin-left:auto ;
        margin-right:auto;
    }

    p{
        margin-left:auto;
        margin-right:auto;
    }

    