
<mat-toolbar>
    <a mat-button routerLink ='/adminhome' routerLinkActive = "active" class="homepage">Home</a>
    <a mat-button (click)="logout()" class="about">Logout</a>
  </mat-toolbar>
  
<div class="container">
    <br>
    <br> 
   <h1 class="title">Welcome Admin</h1>
   <br>
   <br>
   <button mat-button class="users" routerLink ='/manageusers' routerLinkActive = "active"> Manage Users </button>
   <br>
   <br>
   <button mat-button class="users" > Manage Reviews </button>
</div>
<router-outlet></router-outlet>
