.container{
    margin-left:600px;
    margin-top: 70px;
    background-color: lightgray;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}
.title{
    color:Black;
    font-family: "Lucida Console", Monaco, monospace;
    
}
.login{
background-color: rebeccapurple;
margin-top:40px;
margin-right: 25px;
margin-left: 60px;
color:white;
font-family: "Lucida Console", Monaco, monospace;
}

.users{
    background-color: rebeccapurple;
    color:white;
    font-family: "Lucida Console", Monaco, monospace;
}

