
<mat-toolbar>
    <a mat-button routerLink ='/viewpage' routerLinkActive = "active" class="home">Home</a>
    <a mat-button routerLink ='/about' routerLinkActive = "active" class="about">About</a>
  </mat-toolbar>
<div class="container">
  
   <br>
   <br>
    <h1 class="title">Welcome to Draft a Schedule Application!</h1>
    <button mat-button class="login" routerLink ='/login' routerLinkActive = "active">Login</button>
    <button mat-button class =" users"  routerLink ='/browse' routerLinkActive = "active"> Browse Courses</button>
    
</div>
<router-outlet></router-outlet>